WebApplication2/WebApplication2/bin/Debug/net8.0/zh-Hant
WebApplication2/WebApplication2/bin/Debug/net8.0/de
WebApplication2/WebApplication2/bin/Debug/net8.0/zh-Hans
WebApplication2/WebApplication2/bin/Debug/net8.0/tr
WebApplication2/WebApplication2/bin/Debug/net8.0/es
